<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.912133959652-qdac4115jh275e7bkn6bt04a5r6cbrj1</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>912133959652-qdac4115jh275e7bkn6bt04a5r6cbrj1.apps.googleusercontent.com</string>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
